<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/chess-page.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>falconChess - Playing</title>
      
      <link rel="shortcut icon" href="../images/favicon.png" />
    <link rel="apple-touch-icon" href="../images/favicon.png" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="PLAY with a friend or with Stockfish using falconChess"
    />
    <meta
      name="keywords"
      content="webrtc, self hosted, voip, sip, real-time communications, chess"
    />
    <title>falconChess ~ LET's play chess</title>
    <meta name="title" content="falconChess" />
    <meta
      name="description"
      content="PLAY with a friend or with Stockfish using falconChess."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:title" content="falconChess" />
    <meta
      property="og:description"
      content="PLAY with a friend or with Stockfish using falconChess"
    />
    <meta property="og:image" content="../images/preview.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="/" />
    <meta property="twitter:title" content="falconChess" />
    <meta
      property="twitter:description"
      content="PLAY with a friend or with Stockfish using falconChess"
    />
    <meta property="twitter:image" content="../images/preview.png" />
  </head>
  <body>
    <div class="centered-horizontal"><p id="top"></p></div>
    <div id="myBoard" class="centered board"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer class="footer">
      Open source project available on
      <b
        ><a
          href="https://github.com/JeherillaJanwar/Online-Chess"
          target="_blank"
          >GitHub</a
        ></b
      >
      <br />
      Made by
      <b
        ><a href="https://cutt.ly/328069i" target="_blank"
          >Ishaan Sharma (JeherillaJanwar)</a
        ></b
      >
      © 2023
    </footer>
  </body>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/chess.js"></script>
  <script src="/chessboard-1.0.0.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3"></script>
  <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
  <script src="/scripts/chess-page.js"></script>
</html>
